@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);
html,
body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	background-color: #f0f0f0;
}
.container {
	width: 640px;
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
}
.stock {
	width: 150px;
	height: 150px;
	background-color: #005969;
	position: relative;
	float: left;
	margin: 5px;
	-webkit-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease;
}

.stock .valeur,
.stock .symbol,
.stock .change {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.stock .symbol {
	top: 10px;
	font-size: 12px;
	font-weight: 300;
}
.stock .change {
	top: 50%;
	font-size: 22px;
	font-weight: 700;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}
.stock .valeur {
	top: 75%;
	font-size: 22px;
	font-weight: 700;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}
.stock .balance {
	top: 25%;
	font-size: 22px;
	font-weight: 700;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}